@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: readmoo;
    src: local("Hiragino Sans GB"), local(Heiti TC), local("AR PL UMing CN"), local("Microsoft JhengHei"), local("Microsoft Yahei"), sans-serif
    }
@font-face {
    font-family: readmoo;
    unicode-range: u+00-024f;
    /* Latin, Latin1 Sup., Ext-A, Ext-B */src: local("Helvetica"), local("Arial"), sans-serif
    }
@font-face {
    font-family: readmoo;
    unicode-range: u+3002, u+ff0e, u+ff0c, u+3001, u+ff1b, u+ff1a, u+ff1f, u+ff01;
    /* 標點符號 */src: local("Heiti TC"), local("AR PL UKai CN"), local("AR PL UMing CN"), local("Microsoft JhengHei"), local("Microsoft Yahei");
    /* OS X preferred */
    }
@font-face {
    font-family: readmoo;
    /* 同樣的 font-family */unicode-range: u+3040-30ff;
    /* Hiragana, Katakana */src: local("Hiragino Mincho Pro"), local("Meiryo"), serif
    }
@font-face {
    font-family: readmoo;
    /* 同樣的 font-family */unicode-range: u+3100-312f;
    /* Bopomofo */src: local("LiSong Pro"), local("DFKai-sb"), local("AR PL UKai CN"), local("標楷體"), serif;
    /* OS X */
    }
@font-face {
    font-family: readmoo;
    unicode-range: u+00b7;
    /* 姓名分隔符號 */src: local("Hiragino Sans GB"), local("AR PL UMing CN"), local("PMingLiU"), local("新細明體");
    /* OS X preferred */
    }
@font-face {
    font-family: readmoo;
    src: local("微軟正黑體");
    unicode-range: u+270c
    }
@font-face {
    font-family: readmoo-header;
    src: local("Hiragino Mincho Pro"), local("微軟正黑體"), local("HiraMinProN-W6")
    }
@font-face {
    font-family: readmoo-header;
    unicode-range: u+3002, u+ff0e, u+ff0c, u+3001, u+ff1b, u+ff1a, u+ff1f, u+ff01;
    /* 標點符號 */src: local("Heiti TC"), local("微軟正黑體"), local("微軟雅黑體");
    /* OS X preferred */
    }
@font-face {
    font-family: readmoo-header;
    unicode-range: u+00-024f;
    /* Latin, Latin1 Sup., Ext-A, Ext-B */src: local("Helvetica"), local("Arial")
    }
@font-face {
    font-family: readmoo-header;
    unicode-range: u+3040-30ff;
    /* Hiragana, Katakana */src: local("Hiragino Mincho Pro"), local("Meiryo")
    }
@font-face {
    font-family: readmoo-header;
    unicode-range: u+3100-312f;
    /* Bopomofo */src: local("LiSong Pro"), local("DFKai-sb"), local("標楷體");
    /* OS X */
    }
@font-face {
    font-family: readmoo-header;
    unicode-range: u+00b7;
    /* 姓名分隔符號 */src: local("Hiragino Sans GB"), local("PMingLiU"), local("新細明體");
    /* OS X preferred */
    }
@font-face {
    font-family: readmoo-header;
    src: local("微軟正黑體");
    unicode-range: u+270c
    }
